html { height: 100%; }

body {
	height: 100%;
	font-family: helvetica;
	margin: 0;
	color: #333;
}

a { color: #666; text-decoration: none;}
a:hover { text-decoration: underline; }

#cal-wrapper {
	width: 50%;
	float: left;
}

	#cal-upper {
		height: 20px;
		padding: 5px 0 5px 5px;
	}

	#cal-upper ul#nav {
		float: left;
		padding: 0;
		margin: 0;
	}

	#cal-upper ul#nav .nav-item-box {
		position: absolute;
		display: none;
		width: 250px;
		border: 1px solid #ccc;
		padding: 20px;
		background: white;
		z-index: 9999;
	}

	#cal-upper ul#nav > li {
		position: relative;
		display: inline;
		margin-right: 5px;
		font-size: 14px;
	}

	#cal-upper button {
		float: right;
		margin: 0;
	}

#soc {
	height: 100%;
	width: 50%;
	float: left;
}

/* weekly calendar overrides */

.wc-cal-event {
	font-size: 10px !important;
}
