html { height: 100%; }

body {
	height: 100%;
	font-family: helvetica;
	margin: 0;
	color: #333;
}

a { color: #666; text-decoration: none;}
a:hover { text-decoration: underline; }

#cal-wrapper {
	width: 50%;
	float: left;
}

#ctrl {
	height: 20px;
	padding: 5px;
	position: relative;
}

	#clear-cal-btn {
		position: absolute;
		right: 0;
		margin: 0;
	}

#soc {
	height: 100%;
	width: 50%;
	float: left;
}

/* weekly calendar overrides */

.wc-cal-event {
	font-size: 10px !important;
}
