<html>
<head>
  <title>AntPlanner - Listing</title>
  <link rel="stylesheet" href="{{url_for('static', filename="css/reset.css")}}">
  <link rel="stylesheet" href="{{url_for('static', filename="css/main.css")}}">
  <link rel="stylesheet" href="{{url_for('static', filename="css/listing.css")}}">
</head>
<body>
  <header>
    <button type="button" class="btn" onclick="javascript: history.go(-1)">Back to search</button>
  </header>
  {{listing | safe}}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="{{url_for('static', filename="js/listing.js")}}"></script>
</body>

</html>