<html>
<head>
  <title>AntPlanner - Search</title>
  <link rel="stylesheet" href="{{url_for('static', filename="css/reset.css")}}">
  <link rel="stylesheet" href="{{url_for('static', filename="css/main.css")}}">
  <link rel="stylesheet" href="{{url_for('static', filename="css/search.css")}}">
</head>
<body>
  <form action="{{url_for('websoc_search_form')}}" method="post">
    <button type="submit" class="btn btn-primary search-btn">Submit Search</button>
    
    <div>
      {{form_content | safe}}
    </div>
    <div>
      
    <button type="submit" class="btn btn-primary search-btn">Submit Search</button>
  </form>
</body>

</html>