<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Antplanner - A better WebSOC for UCI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{url_for('static', filename="css/jquery.weekcalendar.css")}}">
    <link rel="stylesheet" href="{{url_for('static', filename="css/reset.css")}}">
    <link rel="stylesheet" href="{{url_for('static', filename="css/main.css")}}">
    {% if not dev_mode %}
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-16581503-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    {% endif %}
  </head>
  <body>
    <div id="left">
      <div id="upper">
        <div id="main-nav">
            <h1>Antplanner</h1>
        </div>
        <div id="cal-ctrl">
          <button type="button" class="btn" onclick="javascript:print()">Print</button>
          <button type="button" id="save-btn" class="btn">Save</button>
          <button type="button" id="load-btn" class="btn">Load</button>
          <button type="button" id="clear-cal-btn" class="btn">Clear</button>
          <button type="button" id="resize-btn" class="btn">Size</button>
        </div>
      </div>
      <div id="cal"></div>
    </div>
    <iframe src="{{url_for('websoc_search_form')}}" id="soc" frameborder="0"></iframe>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="{{url_for('static', filename="js/jquery.weekcalendar.js")}}"></script>
    <script src="{{url_for('static', filename="js/antplanner2.js")}}"></script>
    <script>
      $(document).ready(function() {
        $('#cal').weekCalendar({
          businessHours: {start: 6, end: 24, limitDisplay: true},
          showHeader: false,
          showColumnHeaderDate: false,
          timeslotsPerHour: 3,
          daysToShow:5,
          readonly: true,
          useShortDayNames: true,
          allowCalEventOverlap: true,
          overlapEventsSeparate: true,
          buttons: false,
          height: function($calendar){ 
            return $(window).height() - $('#upper').outerHeight(); 
          },
          draggable : function(calEvent, element) { return false; },
          resizable : function(calEvent, element) { return false; },
          eventClick : function(calEvent, element) {
            var delCode = calEvent.groupId; 
            $('.wc-cal-event').each(function(index, el) {
              var c = $(el).data().calEvent
              if( c.groupId == delCode ) {
                $('#cal').weekCalendar('removeEvent', c.id);
              }
            });
          }
        });

        $('#cal').weekCalendar('gotoWeek', new Date(APP_YEAR, APP_MONTH, APP_DAY));

        $('#soc').bind('load', function(){
          var $listingContext = $('.course-list', $('#soc').contents());
          var $courseRow = $("tr[valign*='top']:not([bgcolor='#fff0ff'])", $listingContext);

            // FIXME: hover() deprecated
            $courseRow.hover(
              function() {
                $(this).css({'color': '#ff0000', 'cursor': 'pointer'});
              },
              function() {
                $(this).css({'color': '#000000', 'cursor': 'default'});
              }
            );

            $courseRow.on('click', function() {
              var timeString = $(this).find('td').eq(LISTING_TIME_INDEX).html();
              
              // Ignore if course is "TBA"
              if(timeString.indexOf('TBA') != -1) {
                alert('Course is TBA');
                return;
              }

              var courseCode = $(this).find('td').eq(LISTING_CODE_INDEX).text();

              // Ignore if course already added
              if(isCourseAdded(courseCode)) {
                alert('You have already added that course!');
                return;
              }

              var courseName = $.trim( $(this).prevAll().find('.CourseTitle:last').html().split('<font')[0].replace(/&nbsp;/g, '') )
              var courseTimes = new CourseTimeStringParser(timeString)
              var roomString = $(this).find('td').eq(LISTING_ROOM_INDEX).html();
              var rooms = parseRoomString(roomString);

              // Iterate through course times (a course may have different meeting times)
              for(var i in courseTimes) {
                var parsed = courseTimes[i];
                $('#cal').weekCalendar('scrollToHour', parsed.beginHour, true);

                if (i in rooms && rooms[i].length > 0) {
                    var room = rooms[i];
                } else {
                    // Is there a possibility that there is only one room listed for all times (in the case of multiple times)?
                    var room = "TBA";
                }

                for(var i in parsed.days) {
                  var day = parsed.days[i];

                  calEvent = {
                    id: S4(),
                    groupId: courseCode,
                    start: new Date(APP_YEAR, APP_MONTH, day, parsed.beginHour, parsed.beginMin),
                    end: new Date(APP_YEAR, APP_MONTH, day, parsed.endHour, parsed.endMin),
                    title: courseName + ' at ' + room + '<br>(' + courseCode + ')'
                  }
                  $('#cal').weekCalendar("updateEvent", calEvent);
                }
              } 

              // Assign a color to the courses
              var colorPair = getRandomColorPair();
              $('.wc-cal-event').each(function(index, el) {
                var c = $(el).data().calEvent
                if( c.groupId.indexOf(courseCode) != -1 ) {
                  colorEvent(el, colorPair);
                }
              });
            });
        });

        $('#save-btn').on('click', function() {
          var calData  = JSON.stringify( $('#cal').weekCalendar('serializeEvents') );

          var defaultName = localStorage.username ? localStorage.username : '';
          var username = prompt('Please enter a unique username (e.g. Student ID): ', defaultName);

          // Validation
          if(username == null) {
            return;
          }

          if(username.length < 5) {
            alert('Username must be at least 5 characters.')
            return;
          }

          // Save to server
          $.ajax({
            url: "{{url_for('save_schedule')}}",
            type: 'post',
            data: {
              username: username,
              data: calData
            },
            success: function(data) {
              if(data.success) {
                alert('Schedule successfully saved!');
                localStorage.username = username;
              } 
              else {
                alert('Problem saving schedule');
              }
            }
          });
        });

        $('#load-btn').on('click', function() {
          var defaultName = localStorage.username ? localStorage.username : '';
          var username = prompt('Please enter your username', defaultName);

          if(username == '') {
            return;
          }

          $.ajax({
            url: '/schedule/load',
            data: { username: username },
            success: function(data) {
              if(data.success) {
                $('#cal').weekCalendar('clear');
                $('#cal').weekCalendar("loadEvents", JSON.parse(data.data));
                groupColorize();
                alert('Schedule successfully loaded!');
              }
              else {
                alert('Problem loading schedule');
              }
            }
          });
        });

        $('#clear-cal-btn').on('click', function() {
          $('#cal').weekCalendar('clear');
        });

        // TODO: toggle() deprecated
        $('#resize-btn').toggle(function() {
          $('#cal').animate({width: '200%'});
        }, function() {
          $('#cal').animate({width: '100%'});
        });
      });
    </script>
  </body>
