{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <div id="cal"></div>
  <iframe src="/websoc/search" id="soc" frameborder="0"></iframe>

{% endblock %}

{% block inline_scripts %}
  $(document).ready(function() {

    $('#cal').weekCalendar({
      businessHours: {start: 6, end: 24, limitDisplay: true},
      showHeader: false,
      showColumnHeaderDate: false,
      timeslotsPerHour: 3,
      daysToShow:5,
      readonly: true,
      useShortDayNames: true,
      allowCalEventOverlap: true,
      overlapEventsSeparate: true,
      buttons: false,
      height: function($calendar){ return $(window).height(); },
      draggable : function(calEvent, element) { return false; },
      resizable : function(calEvent, element) { return false; },
      eventClick : function(calEvent, element) {
        var delCode = calEvent.groupId; 
        $('.wc-cal-event').each(function(index, el) {
          var c = $(el).data().calEvent
          if( c.groupId == delCode ) {
            $('#cal').weekCalendar('removeEvent', c.id);
          }
        });         
      }

    })

    $('#cal').weekCalendar('gotoWeek', new Date(APP_YEAR, APP_MONTH, APP_DAY));

    $('#soc').load(function(){
      var $listingContext = $('.course-list', frames['soc'].document);
      var $courseRow = $("tr[valign*='top']", $listingContext);

        $courseRow.hover(
          function() {
            $(this).css({'color': '#ff0000', 'cursor': 'pointer'});
          },
          function() {
            $(this).css({'color': '#000000', 'cursor': 'default'});
          }
        );

        $courseRow.click(function() {
          var timeString = $(this).find('td').eq(LISTING_TIME_INDEX).html();
          var courseCode = $(this).find('td').eq(LISTING_CODE_INDEX).text();

          var courseTimes = new CourseTimeStringParser(timeString)

          // Iterate through course times (a course may have different meeting times)
          for(var i in courseTimes) {
            var parsed = courseTimes[i];
            $('#cal').weekCalendar('scrollToHour', parsed.beginHour, true);

            for(var i in parsed.days) {
              var day = parsed.days[i];

              calEvent = {
                id: S4(),
                groupId: courseCode,
                start: new Date(APP_YEAR, APP_MONTH, day, parsed.beginHour, parsed.beginMin),
                end: new Date(APP_YEAR, APP_MONTH, day, parsed.endHour, parsed.endMin),
                title: courseCode
              }
              $('#cal').weekCalendar("updateEvent", calEvent);
            }
          }         
          
        })
    });


  });
{% endblock %}