<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Antplanner - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{{url_for('static', filename="css/smoothness/jquery-ui-1.9.1.custom.min.css")}}">
    <link rel="stylesheet" href="{{url_for('static', filename="css/jquery.weekcalendar.css")}}">
    <link rel="stylesheet" href="{{url_for('static', filename="css/antplanner2.css")}}">
    <link rel="stylesheet" href="{{url_for('static', filename="css/antplanner2.print.css")}}" media="print">
  </head>
  <body>
    {% block content %}{% endblock %}

    <script src="{{url_for('static', filename="js/jquery-1.8.2.min.js")}}"></script>
    <script src="{{url_for('static', filename="js/jquery-ui-1.9.1.custom.min.js")}}"></script>
    <script src="{{url_for('static', filename="js/date.js")}}"></script>
    <script src="{{url_for('static', filename="js/jquery.weekcalendar.js")}}"></script>
    <script src="{{url_for('static', filename="js/antplanner2.js")}}"></script>

    <script>
      {% block inline_scripts %}{% endblock %}
    </script>
  </body>
</html>