<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>AntPlanner2 Tests</title>
  <link rel="stylesheet" href="{{url_for('static', filename="css/qunit-1.10.0.css")}}">
</head>
<body>
  <div id="qunit"></div>
  <script src="{{url_for('static', filename="js/jquery-1.8.2.min.js")}}"></script>
  <script src="{{url_for('static', filename="js/qunit-1.10.0.js")}}"></script>
  <script src="{{url_for('static', filename="js/antplanner2.js")}}"></script>
  <script src="{{url_for('static', filename="js/tests.js")}}"></script>
</body>
</html>